{% extends 'app_base/base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}

<div class="container">
<Breadcrumb>
    <nav aria-label="breadcrumb" class="main-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">About Us</li>
            <!-- <li class="breadcrumb-item"><a href="{% url 'profiles_list' %}">Profiles</a></li> -->
        </ol>
    </nav>
</Breadcrumb>
    
<h1>About Us</h1>
<p>Ну, мы))</p>
</div>
{% endblock %}
{% block footer %}{% endblock %}