{% extends 'app_base/base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<div class="container">
    <Breadcrumb>
        <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
                {% include "app_base/_breadcrumb_user.html" %}
                <li class="breadcrumb-item active" aria-current="page">Home</li>
                <!-- <li class="breadcrumb-item"><a href="{% url 'users:profiles_list' %}">Profiles</a></li> -->
            </ol>
        </nav>
    </Breadcrumb>
    <h1>Hello from Django!</h1>
    <div class="main-body">
    <div class="row gutters-sm">
        <div class="col-md-4 mb-3 card-flex">
            <div class="card">
                <div class="card-body">    
                    <a href="{% url 'users:profiles_list' %}"> 
                        <div class="d-flex flex-column align-items-center text-center">
                            <div class="mt-3">
                                <p class="text-secondary mb-1">List of users profiles</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">    
                    <a href="{% url 'posts_list' %}"> 
                        <div class="d-flex flex-column align-items-center text-center">
                            <div class="mt-3">
                                <p class="text-secondary mb-1">List of posts</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">    
                    <a href="{% url 'about' %}"> 
                        <div class="d-flex flex-column align-items-center text-center">
                            <div class="mt-3">
                                <p class="text-secondary mb-1">About Us</p>
                            </div>
                        </div>
                    </a>
                </div>
                </div>
                <div class="card">
                <div class="card-body">    
                    <a href="{% url 'contacts' %}"> 
                        <div class="d-flex flex-column align-items-center text-center">
                            <div class="mt-3">
                                <p class="text-secondary mb-1">Contact Us</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card-body">    
                    <a href="/admin"> 
                        <div class="d-flex flex-column align-items-center text-center">
                            <div class="mt-3">
                                <p class="text-secondary mb-1">Admin Panel</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card-body">    
                    {% comment %} <a href="{% url 'users:user_logout' %}"> 
                        <div class="d-flex flex-column align-items-center text-center">
                            <div class="mt-3">
                                <p class="text-secondary mb-1">Выйти</p>
                            </div>
                        </div>
                    </a> {% endcomment %}
                    <form method="post" action="{% url 'users:user_logout' %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-link" style="padding:0; margin:0; border:none; background:none; cursor:pointer;">
                            Выйти
                        </button>
                    </form>
                </div>
            </div>
            
        </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}{% endblock %}
