{% extends 'app_base/base.html' %}

{% block title %}создание поста{% endblock %}

{% block head %}{% endblock %}

{% block content %}
<div class="container">
    <div class="main-body">
    <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
        <Breadcrumb>
            <nav aria-label="breadcrumb" class="main-breadcrumb">
                <ol class="breadcrumb">
                    {% include "app_base/_breadcrumb_user.html" %}
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'posts_list' %}">All posts</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Update {{ post.title }} post</li>
                </ol>
            </nav>
        </Breadcrumb>

        <form method="post">
        {% csrf_token %}
        {{ form.as_p}}
        <input class="btn btn-primary" type="submit" value="Update">
    </form>
{% endblock %}

{% block footer %}{% endblock %}