{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block head %}{% endblock %}

{% block content %}
<div class="container">
  <div class="main-body">
    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <Breadcrumb>
              <nav aria-label="breadcrumb" class="main-breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                  <li class="breadcrumb-item"><a href="{% url 'posts_list' %}">All posts</a></li>
                  <li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
                </ol>
              </nav>
        </Breadcrumb>
        <h1>{{ post.title }} {% if not post.is_published %}<em> (черновик)</em>{% endif %}</h1>
          <p>{{ post.content }}</p>
          <p class="text-muted">Создано: {{ post.created_at|date:"H:i d.m.Y" }}</p>
      </div>
      <div class='col-sm-12'> 
        <a href="{% url 'post_update' post.pk %}" class="btn btn-primary" >Edit</a>
      </div>
      <div class='col-md-8'> 
        <a href="{% url 'post_delete' post.pk %}" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block footer %}{% endblock %}