{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block head %}{% endblock %}

{% block content %}
<div class="container">
  <div class="main-body">
    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <Breadcrumb>
              <nav aria-label="breadcrumb" class="main-breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                  <li class="breadcrumb-item"><a href="{% url 'posts_list' %}">All posts</a></li>
                  <li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
                </ol>
              </nav>
        </Breadcrumb>
        <h1>{{ post.title }} {% if not post.is_published %}<em> (черновик)</em>{% endif %}</h1>
        <h6 class="text-muted">Category: {{ post.category.name }}</h6>
        <h6 class="text-muted">🏷️: {{ post.tags.name }}</h6>
          <p>{{ post.content }}</p>
          
          <p class="text-muted">Создано: {{ post.created_at|date:"H:i d.m.Y" }}</p>
          <p class="text-muted">👀: {{ post.views }}</p>
          <p class="text-muted">💬: {{ post.comments.count }}</p>
          <img class="rounded-circle avatar-img-mini" src="{{ post.author.get_avatar_url }}" alt="User Avatar">
          <p class="text-muted">✍️: {{ post.author.nickname }}</p>
      </div>
      <div class="card-actions">
          <a href="{% url 'post_update' post.pk %}" class="btn btn-primary">Edit</a>
          <a href="{% url 'post_delete' post.pk %}" class="btn btn-danger">Delete</a>
          </div>
    </div>
    <div class='card'>
      {% include 'blog_app/comment_form.html' with post_pk=post.pk %}
  <h2>Комментарии</h2>
  <ul class='list-group'>
    {% for comment in post.comments.all %}
      <li class='list-group-item'>
        <p>{{ comment.content }}</p>
        <p class="text-muted">✍️: {{ comment.author.nickname }}</p>
        <p class='text-muted'>Создано: {{ comment.created_at|date:'H:i d.m.y'}}</p>
      </li>
      {% empty %}
            <p>No comments</p>
      {% endfor %}
  </ul>
</div>
  </div>
</div>

{% endblock %}
{% block footer %}{% endblock %}