{% extends 'base.html' %}

{% block title %}All posts{% endblock %}

{% block head %}
<style>
    .card {
    position: relative;
    display: flex;
    flex-wrap: wrap; 
    width: 100%;
    margin: 12px;
    padding: 12px; 
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <Breadcrumb>
        <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page"> All posts</li>
            </ol>
        </nav>
    </Breadcrumb>
    <div class="main-body">
        <div>
            <a href="{% url 'post_create' %}" class="btn btn-primary"> Новая запись </a>
        </div>
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3" style=" 
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                justify-content: flex-start;
            ">
    <ul class = 'list-group'>
    {% for post in posts.object_list %}
        <div class="card mb-3"> 
            <li class='list-group-item'>
                <div class="card-body"><a href="{% url 'blog_post_detail' post.pk %}">
                    <h5 class="card-title">{{ post.title }}</h5></a>
                        {% if not post.is_published %}<em> (черновик)</em>{% endif %}
                    <p class="card-text">{{ post.content }}</p>
                    <div class='col'> 
                        <a href="{% url 'post_update' post.pk %}" class="btn btn-primary" >    
                            Edit
                        </a>
                    </div>
                    <div class='col'> 
                        <a href="{% url 'post_delete' post.pk %}" class="btn btn-danger">  
                            Delete
                        </a>
                    </div>
                </div>
            </li>
        </div>
            {# Навигация по страницам #}
            <div class="pagination">
            <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">« первая</a>
            <a href="?page={{ posts.previous_page_number }}">предыдущая</a>
            {% endif %}
            <span class="current">
            Страница {{ posts.number }} из {{ posts.paginator.num_pages }}.
            </span>
            {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">следующая</a>
            <a href="?page={{ posts.paginator.num_pages }}">последняя »</a>
            {% endif %}
            </span>
            </div>
        </div>
    {% empty %}
    <p>No posts</p>
    {% endfor %}
    </ul>

{% endblock %}
{% block footer %}{% endblock %}