{% extends 'app_base/base.html' %}

{% block title %}Password reset{% endblock %}

{% block head %}{% endblock %}

{% block content %}
<div class="container">
    <div class="main-body">
        <div class="row gutters-sm">
            <Breadcrumb>
                <nav aria-label="breadcrumb" class="main-breadcrumb">
                    <ol class="breadcrumb">
                        {% comment %} <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'profiles_list' %}">Profiles</a></li>
                        <li class="breadcrumb-item active" aria-current="page">User Registration</li> {% endcomment %}
                        <li class="breadcrumb-item"><a href="{% url 'users:user_login' %}">User Login</a></li>
                        <li class="breadcrumb-item active" aria-current="page">User Password Reset Complete</li>
                    </ol>
                </nav>
            </Breadcrumb>
            <div>
                <h1>Сброс пароля</h1>
                <p>Ваш пароль был успешно изменён. <a href='{% url 'users:user_login' %}'>Войти в систему</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}